$color1: #B1E088; // Green
$color2: #35BCCE; // Blue
$color3: #8758C7; // Purple
$color4: #000;    // Black
$color5: #FFF;    // White

@import "normalize";

html {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$color1+0,35bcce+100 */
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient(45deg,  $color1 0%, $color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  $color1 0%,$color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  $color1 0%,$color2 100%); /* IE10+ */
	background: linear-gradient(45deg,  $color1 0%,$color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed;
  	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
		color: $color5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

a {
	color: $color5;
}

img, object, embed, video {
  height: auto !important;
  max-width: 100%;
}

.site-header {
	background-color: $color5;

}

.site-logo {
	margin: 0 0 20px;
	padding: 30px 0 30px 30px;
	text-align: center;

	a {
		color: $color2;
		text-decoration: none;
	}
}

.page-wrap {
	margin: 0 auto;
    width: 80%;
}

@media screen and (min-width: 720px) {
	.page-wrap{
		width: 40%;
	}
}

.media-item {
	border-bottom: 2px solid $color5;
    clear: left;
    color: $color5;
    margin: 0;
    padding-right: 20px;
    line-height: 2.4em;
}

.media-item:last-child {
	margin-bottom: 20px;
}

.delete-item {
    /*display: block;*/
 	margin: 10px;
}

.dvd-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.media-item-title-year {
	font-weight: normal;
	float: left;
	margin: 0;
}

.error-message {
    background-color: $color3;
	border-radius: 5px;
    color: $color5;
    font-size: 14px;
 	margin-bottom: 30px;
    padding: 5px 5px 5px 15px;
}

.error-message-close {
	cursor: pointer;
	display: block;
	float: right;
	width: 12px;
	height: 12px;
}

.site-footer {
	padding: 20px 0 80px;
}

fieldset {
	border: 0;
	margin-bottom: 20px;
	padding: 0;
}

.field-media-year {
	display: none;
}

.label-media-title,
.label-media-year {
	display: block;
}

.label-media-year {
	margin-bottom: 8px;
}

[id="media-title"] {
	width: 100%;
}

.delete-dvd-wrap {
	display: inline-block;
	float: right;
	padding-right: 10px;
}

input[type="submit"] {
	background-color: transparent;
	border: 2px solid $color5;
	border-radius: 5px;
	color: $color5;
	display: block;
	font-size: 18px;
	float: right;
	margin: 20px 0;
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: $color5;
	color: $color2;
}

input[type="reset"]:hover {
	background-color: $color5;
	color: $color2;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	background: $color5;
	border: 2px solid $color5;
	border-radius: 5px;
	color: $color2;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	line-height: 2em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
	outline: none;
}


.site-credit {
	font-size: 10px;
	text-transform: uppercase;
	color: $color2;
	font-weight: bold;
	border-radius: 5px;
	background-color: $color5;
	text-decoration: none;
	padding: 3px 6px;
}

.media-item-detail {
	clear: left;
	display: none;
}

.media-item-edit {
	float: right;
}

.media-item-detail-toggle {
	font-size: 9px;
	text-transform: uppercase;
	color: $color2;
	font-weight: bold;
	border-radius: 5px;
	background-color: $color5;
	text-decoration: none;
	padding: 3px 6px;
}

.media-item-detail-poster {
	float: left;
	padding: 10px 10px 10px 0;
	width: 35%;
}

.media-item-detail-meta {
	float: left;
	padding: 10px 0 10px 10px;
	width: 65%;
}

.media-item-detail-meta * {
	font-size: 14px;
	line-height: 1.3em;
}

.submit-delete {
	float: right;
}

.suggestion {
    background: $color5;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    color: #000;
    display: none;
 	margin-top: 20px;
	position: relative;
}

.suggestion:before {
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #6912E2 transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: -10px;
	left: 20px;
}

.suggestion-strip {
	height: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6912e2+0,8e65c6+100 */
	background: #6912e2; /* Old browsers */
	background: -moz-linear-gradient(left,  #6912e2 0%, #8e65c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6912e2), color-stop(100%,#8e65c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6912e2 0%,#8e65c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6912e2 0%,#8e65c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6912e2 0%,#8e65c6 100%); /* IE10+ */
	background: linear-gradient(to right,  #6912e2 0%,#8e65c6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6912e2', endColorstr='#8e65c6',GradientType=1); /* IE6-9 */
	width: 100%;
}

.ajax-content {
    padding: 20px 20px 0;
}

.suggestion-poster {
	float: left;
	height: auto;
	margin: 0 20px 10px 0;
	width: 120px;
}

.suggestion-title {
	margin-top: 0;
}

[value="add"] {
	background-color: $color2;
	border: none;
	color: $color5;
	width: 100%;
}

[value="add"]:hover {
	color: $color2;
	background-color: $color5;
}

.total-count {
	/*float: right;*/
}

button {
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid $color5;
	border-radius: 5px;
	color: $color5;
	display: block;
	font-size: 18px;
	margin: 20px 0;
	padding: 10px;
	text-transform: uppercase;
}

button:hover {
	background-color: $color5;
	color: $color2;
}

button i {
	display: inline-block;
	margin-right: 5px;
}

.hidden {
	display: none;
	visibility: hidden;
}

.media-type-checkboxes {
	clear: left;
	display: none;
	padding: 20px;
}

.media-type-wrap {
	background-color: rgba(53,188,206, 0.4);
	border-radius: 5px;
	display: inline-block;
	float: left;
	margin-right: 4%;
	width: 48%;
}

.media-type-wrap:nth-child(2) {
	margin-right: 0;
}

.media-type-wrap label {
	color: $color5;
	display: block;
	padding: 10px 15px 10px 0;
}

.media-type-wrap input[type="radio"] {
	float: left;
	margin: 13px 10px 13px 15px;
}

.media-type-wrap.is-checked {
	background-color: $color2;
}

.has-content .media-type-checkboxes {
	display: block;
}
